/* SAI ADITYA EDE         1002035418
VARUN REDDY KOKKANTI   1002022689
SAI LASYA YADALA       1002029134 */



h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.accordion {
  max-width: 100%;
  margin: 1px solid black;
}

.accordion-title {
  margin: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  
}

.accordion-title:hover {
  margin: 1px solid black;
  /* background-color: #3ab4cc; */
}

.accordion-title,
.accordion-content {
  margin: 1px solid black;
  padding: 1rem;
}

.accordion-content {
/*   
  background-color: #39b9d2; */
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}