/* SAI ADITYA EDE         1002035418
VARUN REDDY KOKKANTI   1002022689
SAI LASYA YADALA       1002029134 */


.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 80vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  .app1_register {
    margin-top: 20px;;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 80vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  
  
  input[type="text"],
  input[type="password"] {
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #242B2E;
    border: 1px solid #242B2E;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #2c5012;
  }
  /*  */
  select[type="text"] {
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  select[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #242B2E;
    border: 1px solid #242B2E;
    color: #fff;
    padding: 10px 20px;
  }
  
  select[type="submit"]:hover {
    background: #2c5012;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    width:40%;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }